@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* $bgcolor: #2F303A;//1
$bgcolorfooter: #211F26;//2
$navhover: #20202709;//3
$borderinputcolor: #2E3852;//4
$borderinputfocus:#596da0;//5
$buttonbgcolor:#1762A7;//6
$buttonhover:#2180d8;//7
$buttonfocus: #2796ff;//8
$accenttext: hsl(325, 88%, 30%);//9
$circle1: #bc3a801a;//10
$circle2:#3457b21a; //11
$font-size: 1.2rem;//12
$theme-font: 'Poppins', sans-serif;
$textcolor: white;//13

 */

 $bgcolor: #debaba;
 $bgcolorfooter: #373636;
 $navhover: #FF6E40;
 $borderinputcolor: #333333;
 $borderinputfocus: #FF6E40;
 $buttonbgcolor: #FF6E40;
 $buttonhover: #FF3D00;
 $buttonfocus: #FF3D00;
 $accenttext: #ece7e5;
 $accenttextdark: #e87e54;

 $circle1: #FF6E401A;
 $circle2: #FF3D001A;
 $font-size: 1.2rem;
 $theme-font: 'Poppins', sans-serif;
 $textcolor: #876247;
 